/* styles.css */

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background: linear-gradient(to bottom right, #141414, #000000); /* Gradient background */
    color: #fff;
}

nav {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 20px 0;
    text-align: center;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    padding: 10px 20px;
    border-radius: 20px;
    transition: transform 0.3s ease;
}

nav ul li a:hover {
    transform: translateY(-5px);
    background-color: rgba(255, 255, 255, 0.2);
}

section {
    text-align: center;
    padding: 50px;
    position: relative;
    z-index: 1;
    border-radius: 20px; /* Rounded corners */
    border: 2px dashed #ffa500; /* Dashed border */
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5); /* Box shadow for depth */
}

section .content {
    max-width: 600px;
    margin: 0 auto;
    opacity: 0;
    animation: fadeInUp 1s ease forwards;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

h1 {
    font-size: 48px;
    margin-bottom: 20px;
    color: #ffa500;
    text-transform: uppercase;
    letter-spacing: 2px;
}

p {
    font-size: 20px;
    line-height: 1.8;
    margin-bottom: 30px;
    color: #ccc;
    opacity: 0;
    animation: fadeInUp 1s ease 0.5s forwards;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
    border-left: 4px solid #ffa500;
    padding-left: 10px;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 8px;
    padding: 20px;
}
