/* styles.css */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url('https://i.pinimg.com/736x/e8/ab/83/e8ab83923295950ea0456f39aed9f5f6.jpg');
    background-size: cover;
    background-position: center;
    color: #fff;
}

nav {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 20px 0;
    text-align: center;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    padding: 10px 20px;
    border-radius: 20px;
    transition: transform 0.3s ease;
}

nav ul li a:hover {
    transform: translateY(-5px);
    background-color: rgba(255, 255, 255, 0.2);
}

section {
    text-align: center;
    padding: 50px 20px;
    position: relative; /* Add position relative */
    z-index: 1; /* Set higher z-index to ensure content appears above background */
}

section .content {
    max-width: 600px;
    margin: 0 auto;
}

h1 {
    font-size: 36px;
    margin-bottom: 20px;
}

p {
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 30px;
}
